@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  --background-main: rgb(255, 255, 255);
  --background-secondary: rgb(114, 114, 114);
  --font-color-main: #727272;
  --font-color-secondary: #fff;
}

.light-mode {
  background-color: var(--background-main);
  color: var(--font-color-main);
}

body {
  background-color: #dde1e2;
}

section {
  background-color: var(--background-main);
  border-radius: 10px;
  margin: 10px;
  width: 350px;
  height: 350px;
  box-shadow: 1px 1px 20px rgba(42, 41, 41, 0.15);
}

section.map-container {
  display: flex;
  width: 700px;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px;
  border-radius: 20px;
  /* display: grid; */
  /* align-items: center; */
  /* grid-template-columns: repeat(auto-fit,minmax(400px, 1fr)); */
  /* align-items: flex-start; */
  /* max-width: 800px;
  height: 800px; */
  font-weight: 300;
  color: #727272;
  font-weight: 300;
  background-image:
  linear-gradient(
    210deg, 
    #fff,  #f5f7f7
  );
}

.loading {
  color: #727272;
}

.main-nav {

  width: 100%;
  height: 30px;
  border-bottom: 1px solid #727272;
  margin: 40px 40px 0;
}

.nav-list {
  display: flex;
}

.list-item {
  display: block;
  padding-left: 20px;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px;
}

.intro-header {
  font-weight: 400;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.intro-header span {
  /* color: #af5d2a; */
}

.intro-copy {
  margin-bottom: 5px;
}

.intro-copy-error {
  visibility: hidden;
  font-size: .9em;
  font-weight: 500;
  color: #be1108;
  text-align: center;
  margin-top: auto;
  margin-bottom: 5px;
}

.search-input {
  align-self: flex-start;
  border: none;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 300;
  text-transform: capitalize;
  margin-top: auto;
  box-shadow: inset 1.5px 1.5px 2px rgba(0,0,0,0.25);
}

.search-input:focus {
  outline: none;
}

::placeholder {
  /* color: #ff9f1c; */
}

.search-btn {
  align-self: flex-start;
  width: 100%;
  border: none;
  border-radius: 5px;
  border: 1px solid var(--font-color-main);
  font-size: 20px;
  color: var(--font-color-main);
  padding: 10px;
  font-weight: 300;
  background-color: transparent;
  background-image: linear-gradient(var(--background-main), var(--background-main));
  background-position: 0 101%;
  background-size: 0% 55px;
  background-repeat: no-repeat;
  transition:
    background-size 0.4s,
    background-position 0s 0.4s;
}

.search-btn:hover {
  color: var(--font-color-main);
  background-position: 100% 100%;
  background-size: 100% 55px;
  cursor: pointer;
}

.calendar-container {
  display: flex;
}

.calendar-container .react-calendar {
  border: none;
  border-radius: 10px;
}

.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day {
  background: rgba(253, 253, 175, 0.8);
  border-radius: 10px;
}


.calendar-container .react-calendar .react-calendar__tile--now {
  border-radius: 10px;
  background: rgba(147, 235, 251, 0.8);
}



.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button,
.react-calendar__navigation__arrow.react-calendar__navigation__prev-button,
.react-calendar__navigation__label,
.react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from,
.react-calendar__navigation__arrow.react-calendar__navigation__next-button,
.react-calendar__navigation__arrow.react-calendar__navigation__next2-button,
.react-calendar__month-view__weekdays .react-calendar__month-view__weekdays__weekday,
.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend.react-calendar__month-view__days__day--neighboringMonth > abbr,
.react-calendar__tile.react-calendar__month-view__days__day
 {
  color: var(--font-color-main);
  font-size: .9em;
  font-weight: 300;
}

.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button,
.react-calendar__navigation__arrow.react-calendar__navigation__prev-button,
.react-calendar__navigation__label,
.react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from,
.react-calendar__navigation__arrow.react-calendar__navigation__next-button,
.react-calendar__navigation__arrow.react-calendar__navigation__next2-button,
.react-calendar__month-view__weekdays .react-calendar__month-view__weekdays__weekday {
  font-weight: 400;
  font-size: 1em;
}

.weather-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;

}

.weather--location,
.weather--temp,
.weather--desc,
.weather--feels {
  margin-bottom: 3px;
}

.weather--location {
  font-size: 27px;
  max-width: 250px;
}

.weather--temp {
  margin-top: -5px;
  font-size: 45px;
  font-weight: 200;
}

.weather--feels {
  font-size: 16px;
  margin-top: 2px;
}

.weather--desc {
  font-size: 22px;
  margin-top: -7px;
  text-transform: capitalize;
}

.weather--icon {
  position: absolute;
  top: 10px;
  right: 25px;
  width: 90px;
}

.weather-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%;
  margin-top: auto;
  font-size: 16px;
}

.temp-min-max {
  display: flex;
  justify-content: space-between;
  max-width: 180px;
  width: 60%;
}

.toggle-temp-units {
  cursor: pointer;
  background-color: #fff;
  padding: 4px 7px;
  border-radius: 5px;
  box-shadow: inset .5px .5px .5px rgba(0,0,0,0.25);
  transition: all .2s ease-in-out;
}

.toggle-temp-units:hover {
  box-shadow: inset 1.7px 1.7px 1.7px rgba(0,0,0,0.25);
  transform: scale(.99)
}

.temp-toggle {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.photo-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-gap: .2rem;
  max-width: 400px; 
}

.no-pictures {
  grid-column: 1 / 10;
  grid-row: 5 / 6;
  color: #781003;
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
  line-height: 1.2;
  padding: 10px;
}

.quote-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  font-size: 35px;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 1px var(--font-color-main);
}

.flight-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
  padding: 20px 30px;
}

.flight-form {
  display: flex;
}

.flight-form, 
.city-input {
  font-size: 25px;
}

.flight-to-city {
  text-transform: capitalize;
}

.city-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
}

.city-input {
  width: 110px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #727272;
  padding: 10px 0px;
  margin: 0 20px;
  color: #727272;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.city-input:focus {
  outline: none;    
}

input::-webkit-input-placeholder {
  color: #d3d3d3;
}

.datepicker-input {
  width: 100%;
  font-size: 15px;
}

input[type="date"]{
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 3px 0;
  color: #fff;
  text-align: center;
}

.flight-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flight--price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0 20px;
}

.flight--copy {
  text-align: center;
  max-width: 300px;
}

.price-display {
  background-color: #fff;
  border-radius: 7px;
  font-weight: 500;
  padding: 10px;
  margin-left: 15px;

}

.flight-btn {
  border: none;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px 0;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  text-decoration: none;
  background-image: linear-gradient(#fff, #fff);
  background-position: 0 101%;
  background-size: 0% 55px;
  background-repeat: no-repeat;
  transition:
    background-size 0.4s,
    background-position 0s 0.4s;
}

.flight-btn:hover {
  color: #f25c54;
  background-position: 100% 100%;
  background-size: 100% 55px;
  cursor: pointer;
}

.grid-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

.img-link:nth-child(1) {
  grid-column: 1 / span 5;
  grid-row: 1 / span 5;
}

.img-link:nth-child(2) {
  grid-column: 6 / span 2; 
  grid-row: 1 / span 3;
}

.img-link:nth-child(3) {
  grid-column: 8 / span 2;
  grid-row: 1 / span 3;
}

.img-link:nth-child(4) {
  grid-column: 6 / span 4;
  grid-row: 4 / span 2;
}

.img-link:nth-child(5) {
  grid-column: 1 / span 5;
  grid-row: 6 / span 4;
}

.img-link:nth-child(6) {
  grid-column: 6 / span 4;
  grid-row: 6 / span 4;
}


@media only screen and (min-width: 800px) {

  body {
    /* width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; */
  }
/* 
  .main-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(14, 1fr);
    grid-gap: .8rem;
  } */


  .intro-container {
    /* grid-row: 1 / span 5;
    height: 100%; */
  }

  .photo-container {
    /* grid-row: 1 / span 9;
    grid-gap: .8rem;
    height: 100%;
    margin: 0; */
  }

  .weather-container {
    /* grid-row: 6 / span 4;
    height: 100%; */
  }

  .quote-container {
    /* grid-column: 1 / span 2;
    grid-row: 10 / span 1;
    height: 100%; */
  }

  .flight-container {
    /* display: flex;
    flex-direction: row;
    align-items: center;
    grid-column: 1 / span 2;
    grid-row: 11 / span 4;
    height: 100%; */
  }

  .flight-form {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%; */
  }

  .flight-cta {
    /* height: 100%;
    padding-left: 40px;
    width: 80%; */
  }
  
  .flight--price {
    /* flex-direction: column;
    height: 100%; */
  }

  .price-display {
    /* margin-bottom: 5px; */
  }

  #img-0 {
    border-top-left-radius: 10px;
  }
  
  #img-2 {
    border-top-right-radius: 10px;
  }
  
  #img-4 {
    border-bottom-left-radius: 10px;
  }
  
  #img-5 {
    border-bottom-right-radius: 10px;
  }
}


